<%= form_with(model: photo, local: true) do |form| %>

  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Photo Name -->
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <!-- Photo Selection -->
  <!-- https://evilmartians.com/chronicles/rails-5-2-active-storage-and-beyond -->
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <!-- Do not allow the user to select the tour -->
  <!-- We should already know what tour we are adding / editing a photo for -->
  <%= form.hidden_field :tour_id, :value => @tour.id %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
